/* All pages */
.my_logo {
    height: 60px;
    width: 60px;

}

footer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
}

/* <footer class="px-3 pt-3 pb-1 bg-body-tertiary"> 
1 = 0.25
2 = 0.50
3 = 1
4 = 1.5
5 = 3
*/