/* All pages */
.my_logo {
    height: 60px;
    width: 60px;

}

footer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
}

/* Home Page */
.home_intro {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

    padding-top: 1.5rem;

    display: flex;
    justify-content: center;
}

.about_header {
    padding-left: 1.5rem;
    margin-top: 1rem;
}

.about_item {
    padding-left: 3rem;
}

.home_projects_container {
    justify-content: center;
}

.home_project_item {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home_project_title {
    margin-top: 0.5rem;
}

.home_project_text {
    margin-bottom: 1rem;
}

.home_project_link_button {
    display: flex;
    justify-content: center;
}

.home_all_projects_button_row {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.home_all_projects_button {
    display: flex;
    justify-content: center;
}

/* About Page */
.about_outer_container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.about_container {
    display: flex;
    justify-content: center;
}

.about_me_image {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about_me_section_header_container {
    text-align: center;
}

.about_me_section_header {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;

    text-decoration: underline !important;
}

.school_container {
    display: flex;
    justify-content: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.school_icon {
    margin-left: 3rem;
    margin-right: 3rem;
}

.school_text {
    padding-top: 0.5rem;
}

.coursework_list {
    padding-top: 1rem;
}

.about_experience_outer_container {
    margin-top: 3rem;
}

.about_experience_container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.experience_card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Projects Page */
.projects_outer_container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.project_row {
    display: flex;
    justify-content: center;
}

.project_card {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.project_card_body {
    display: flex;
    align-items: center;
}

.project_text {
    margin-right: 0.25rem;
}

.project_link_button {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;
}

.project_image {
    width: 75% !important;
    height: 75% !important;
}

/* Connect Page */
.connect_outer_container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.connect_header {
    text-align: center;
}

.connect_row {
    margin-top: 1.5rem;

    display: flex;
    justify-content: center;
}

.connect_messaging {
    display: block;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.connect_form {
    display: flex;
    flex-direction: column;
}

.connect_form_control {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.connect_info {
    margin-left: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.connect_info_item_container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.connect_info_item {
    padding-top: 0.5rem;
    margin-left: 1rem;
}
