/* All pages */
.my_logo {
    height: 60px;
    width: 60px;

}

footer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
}

/* Home page */
.home_intro {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

    padding-top: 1.5rem;

    display: flex;
    justify-content: center;
}

.about_header {
    padding-left: 1.5rem;
    margin-top: 1rem;
}

.about_item {
    padding-left: 3rem;
}

.home_projects_container {
    justify-content: center;
}

.home_project_item {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home_project_title {
    margin-top: 0.5rem;
}

.home_project_text {
    margin-bottom: 1rem;
}

.home_project_link_button {
    display: flex;
    justify-content: center;
}

.home_all_projects_button_row {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.home_all_projects_button {
    display: flex;
    justify-content: center;
}

/*1 = 0.25
2 = 0.50
3 = 1
4 = 1.5
5 = 3
*/